header{
display: flex;
text-align: center;
justify-content: space-between;
flex-direction: row;

}
.headering{
border: 2mm solid black ;
border-radius: 10px;
}

body{
background-color: gray;
flex: auto;
display: flex;
flex-direction: column;   
}


#srodek{
display: flex;
justify-content: space-around;

}

#kawa{
    border: 2mm solid black ;
    border-radius: 10px;
    text-align: center;

}

#text{
    width: 50%  ;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    font-size: 110%;
    border: 2mm solid black ;
    border-radius: 10px;
}